<div id="privileges"><%= flash[:privileges] %></div>

<% @title = "Welcome" %>
<%= render "search" %>
<%x = logged_in? %>
<% unless x.nil? %>

<div style="text-align: center">
<h3 style="text-align: center"><%= link_to "View available books", books_path %></h3>
<% if is_admin? %>
       <p><%= link_to 'Add an Admin', new_admin_path %></p>
       <p><%= link_to 'Add a Book', new_book_path %></p>
       <p><%= link_to 'Show all Books', books_path %></p>
       <p><%= link_to 'Show all Admins', admins_path %></p>
       <p><%= link_to 'Show all Members', members_path %></p>
     <%end%>
<%else%>
    <div style="text-align:center" >
    <h3 ><%= link_to "New User? Signup", signup_path %></h3>
	<h3 ><%= link_to "Existing User? Login", login_path %></h3>
    </div>


<%end%>

</div>

