
<p id="notice"><%= notice %></p>

<div style="text-align: center">

<h1 >Books</h1><br>

  <table align="center" style="margin: 0px auto;" border="1" width="500">
  <thead>
    <tr>
      <th>ISBN</th>
      <th>Name</th>
      <th>Authors</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each_with_index do |book| %>
      <tr>
        <td><%= book.isbn %> </td>
        <td><%= book.name %></td>
        <td><%= book.authors %></td>
        <td><%= book.status %></td>

        <% if is_admin? %>
          <td><%= link_to 'Edit', edit_book_path(book) %></td>
          <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
        <td>
        <%if book.status == "Available" %>

              <%if  is_admin? %>

                  <%else%>
            <%= link_to 'Check out', checkout_path(book.id),class: "btn-sm btn-success" %></td>
                  <%end%>
        <%else%>
            <%if is_admin? or current_user.books.where(isbn: book.isbn).count.odd? %>
                <%= link_to 'Return Book', checkin_path(book.id), class: "btn-sm btn-warning" %>
            <%end%>
         <%end%>
         </td>
      </tr>

    <% end %>
  </tbody>
</table>

<br>
</div>


